*.class
*.jar
.classpath
.classpath
*.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.classpath
target/SpringMVC.war
target/war/work/webapp-cache.xml
target/maven-archiver/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.mkyong.common/Spring3MVC/pom.xml
target/classes/logback.xml
target/classes/META-INF/sqlScript/init.sql
target/classes/META-INF/configuration/applicationContext-dao.xml
target/SpringMVC/WEB-INF/web.xml
target/SpringMVC/WEB-INF/classes/logback.xml
target/SpringMVC/WEB-INF/classes/META-INF/sqlScript/init.sql
target/SpringMVC/WEB-INF/application-api.xml
target/SpringMVC/WEB-INF/classes/META-INF/configuration/applicationContext-dao.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.mkyong.common/Spring3MVC/pom.properties
src/main/webapp/WEB-INF/classes/logback.xml